[submodule "roboy_de10_nano_soc"]
	path = roboy_de10_nano_soc
	url = https://github.com/Roboy/roboy_de10_nano_soc
[submodule "software/kernel/linux-socfpga"]
	path = software/kernel/linux-socfpga
	url = https://github.com/altera-opensource/linux-socfpga.git
